{{ define "main" }}
{{ partial "post/info.html" . }}

  <article>
    {{ .Content }}
    <div class="gallery">
      {{ range .Resources.Match "img/*.webp" }}

      {{ $file := strings.TrimSuffix (path.Ext .RelPermalink) .RelPermalink }}

      <div class="gallery-item">
        <a href="{{ $file }}.jpeg">
        <figure>
          <picture>
            <source srcset="{{ $file }}.webp"/>
            <img src="{{ $file }}.jpeg" width="{{ .Width }}" height="{{ .Height }}" alt="" >
          </picture>
        </figure>
       </a>
      </div> 
  
      {{ end }}
    </div>
  </article>

  {{ partial "post/navigation.html" . }}

{{ end }}
