<div class="h-card p-author">
    <img class="u-photo" alt="Drawing of Author's Face" src="/img/people/matthew_lamont.webp"/>
    <div p="h-card-info">
        <p><span class="p-name">{{ .Site.Params.author}}</span>
        <span class="p-given-name" hidden="true">{{ .Site.Params.author}}}</span>
        <span class="p-family-name" hidden="true">{{ .Site.Params.author}}</span>
        <a class="u-url" href="{{.Site.Params.author_url}}">Website</a>,
        <a class="u-email" href="{{.Site.Params.email_url}}">Email</a></p>
        <p class="u-note">I'm a tech enthusiast, advocate for personal digital sovereignty, strong supporter of FOSS Software, and lover of a good cup of tea. Learn more about me on my <a href="/about">about</a> page.</p>
    </div>
</div>