{{ define "main" -}}
<article class="post h-entry ">
  {{ partial "post/info.html" . }}
  <div class="e-content">
    {{ with .Site.GetPage "/blogroll/blogroll" }}
      {{ .Content }}
    {{ end }}

    <h2>Blogs</h2>
    <ul>
      {{ range sort .Site.Data.blogroll.blogs "Name" }}
        <li>
          {{ .Name }} <a href="{{ .Website }}"><span hidden="true">Website</span>{{ partial "svg.html" "globe" }}</a> <a href="{{ .RSS }}"><span hidden="true">RSS</span>{{ partial "svg.html" "rss" }}</a>
          <p>{{ .Description}}</p>
        </li>
      {{ end }}
    </ul>

  </div>

</article>
{{- end }}
{{ define "sidebar" }}
  {{ partial "table_of_contents.html" . }}
{{ end }}

